<div class="jumbotron tm-4">
    <h1 class="display-4">Notes app</h1>
    <p class="lead">Simple app for create notes</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/users/signin" role="button">Create a note</a>
    </p>
</div>